<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="page_wrapper">
        <div id="menuDiv" class="menu_wrapper">
            <span id="menuArrow" class="glyphicon glyphicon-chevron-left menu_icon"></span>
        </div>
        <div class="container body-content">
            @RenderBody()
        </div>

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
@*<script src="~/Scripts/MenuScript.js"></script>*@

</body>
</html>
